.footer {
  background-color: #fff5f6;
  padding-bottom: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 78px;
    display: block;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
  }

  &__text {
    width: 232px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

    color: #ffa5ba;

    margin-bottom: 40px;
  }

  &__text-main {
    display: block;
    width: 200px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;

    margin-top: 16px;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__item {
    margin-bottom: 40px;
  }

  &__item:not(:first-child) {
    margin-left: 28px;
  }

  // &__contact-link {
  // }

  &__contact-svg {
    fill: #fea5bb;
    transition: var(--time-transition);
  }

  &__contact-svg:hover,
  &__contact-svg:focus {
    fill: #d41443;
  }

  &__tel-container {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
  }

  &__text-tel {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;

    color: #000000;

    margin-right: 4px;
  }

  &__tel {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;

    color: #d41443;
  }

  &__text-bottom {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;

    text-align: center;

    color: #907e82;

    width: 150px;
    margin: 0 auto;
  }
}

// .footer__text {
//   width: 232px;
//   font-family: 'Titan One';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.17;
//   text-transform: uppercase;

//   color: #ffa5ba;

//   margin-bottom: 40px;
// }

// .footer__text-main {
//   display: block;
//   width: 200px;
//   font-family: 'Titan One';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 34px;
//   line-height: 1.15;
//   letter-spacing: 0.04em;
//   text-transform: uppercase;

//   color: #d41443;

//   margin-top: 16px;
// }

// .footer__list {
//   display: flex;
//   justify-content: flex-end;
// }

// .footer__item {
//   margin-bottom: 40px;
// }

// .footer__item:not(:first-child) {
//   margin-left: 28px;
// }

// .footer__contact-link {
// }

// .footer__contact-svg {
//   fill: #fea5bb;
//   transition: var(--time-transition);
// }

// .footer__contact-svg:hover,
// .footer__contact-svg:focus {
//   fill: #d41443;
// }

// .footer__tel-container {
//   display: flex;
//   justify-content: end;
//   margin-bottom: 40px;
// }

// .footer__text-tel {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 12px;
//   line-height: 1.83;

//   color: #000000;

//   margin-right: 4px;
// }

// .footer__tel {
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 12px;
//   line-height: 1.83;

//   color: #d41443;
// }

// .footer__text-bottom {
//   display: block;
//   font-family: 'DM Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.5;

//   text-align: center;

//   color: #907e82;

//   width: 150px;
//   margin: 0 auto;
// }
